.parent_headerr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--primary-color);
    padding: 0 20px;
    color: var(--text-color);
  }
  
  .header_naslovv {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .parent_user_windoww {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .user_windoww {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .user_imagee {
    height: 150px;
    width: 150px;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
  }
  
  .user_descriptionn {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--primary-color);
  }
  
  .parent_buttonss {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttonss {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(227, 11, 92);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .buttonss:hover {
    background-color: rgb(223, 68, 125);
    transform: scale(1.1);
  }
  
  .synopsiss {
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
  }
  