.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-card {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: var(--secondary-color);
}

.profile-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.profile-card .profile-image {
  height: 350px;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid var(--primary-color);
}

.profile-card .profile-content {
  padding: 20px;
  text-align: center;
  width:75%;
}

.profile-card .profile-content h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: rgb(227, 11, 92);
}

.profile-card .profile-content p {
  font-size: 1rem;
  color: #555;
}

.profile-card button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  background-color: rgb(227, 11, 92);
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-card button:hover {
  background-color: rgb(223, 68, 125);
}

.details{
  display: flex;
  
}

.details-table {
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  color: black; 
}

.details-table td {
  padding: 8px;
  text-align: left;
}

.details-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2); 
}

.details-table td strong {
  color: rgb(248, 72, 137); 
}


.parent_user_window {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}

.image-navigation {
  display: flex;
  justify-content: center; 
}

.image-navigation button {
  font-size: 15px;
  background-color: rgb(248, 72, 137);
  border-radius: 55px;
  width: 100px  !important;
}