.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-card {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: var(--secondary-color);
}

.profile-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.profile-card .profile-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid var(--primary-color);
}

.profile-card .profile-content {
  padding: 20px;
  text-align: center;
}

.profile-card .profile-content h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.profile-card .profile-content p {
  font-size: 1rem;
  color: #555;
}

.profile-card button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  background-color: rgb(227, 11, 92);
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-card button:hover {
  background-color: rgb(223, 68, 125);
}
