
.profile-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-card {
    width: 300px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
  }
  
  .profile-card .profile-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: height 0.3s ease;
  }
  
  .profile-card.expanded .profile-image {
    height: 150px;
  }
  
  .profile-card .profile-content {
    padding: 15px;
  }
  
  .profile-card .profile-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .profile-card .profile-content p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
  
  .profile-card .details {
    margin-top: 15px;
  }
  
  .profile-card .details a {
    color: #007bff;
    text-decoration: none;
  }
  
  .profile-card .details a:hover {
    text-decoration: underline;
  }
  
  .profile-card button {
    display: inline-block;
    margin-top: 60px;
    padding: 10px 20px;
    border: none;
    background-color: #d353be;
    color: white;
    font-size: 1rem;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-card button:hover {
    background-color: #e778f1;
  }
  

  h3{
    color: #333;
  }
